{% extends "base.jinja2" %}
{% block title %}{{ image.name }}{% endblock %}
{% block content %}

{# LOGGEDIN #}
{% include "admin/loggedin.jinja2" %}

<h3><a href="/image/{{ image.id }}">{{image.name}}</a></h3>
<p>
  <img src="/files/{{ image.name }}" height="600" width="800" />
</p>
{% endblock %}
