{% extends "base.jinja2" %}
{% block title %} Neus Post anlegen {% endblock %}
{% block content %}
<form action="{{ url }}" method="post" class="ym-form ym-full">
  <div class="ym-fbox-text {% if form.title.errors %}ym-error{% endif %}">
    {{ form.title.label }}
    {% if form.title.errors %}
      <ul>{% for error in form.title.errors %}<li><p class="ym-message">{{ error }}</p></li>{% endfor %}</ul>
    {% endif %}
    {{ form.title }}
  </div>
  <div class="ym-fbox-text {% if form.created.errors %}ym-error{% endif %}">
    {{ form.created.label }}
    {% if form.created.errors %}
      <ul>{% for error in form.created.errors %}<li><p class="ym-message">{{ error }}</p></li>{% endfor %}</ul>
    {% endif %}
    {{ form.created }}
  </div>
  <div class="ym-fbox-text">
    {{ form.body.label }}
    {{ form.body(rows="20", wrap="physical") }}
  </div>
  <div class="ym-fbox-text">
    {{ form.tags.label }}
    {{ form.tags }}
  </div>
  <div class="ym-fbox-check">
    {{ form.is_published.label }}
    {{ form.is_published }}
  </div>
  <div class="ym-fbox-button">
    <input type="submit" class="ym-button" value="Senden" name="form.submitted"/>
  </div>
</form>
{% endblock %}
