{% extends "base.jinja2" %}
{% block title %} Login {% endblock %}
{% block content %}
<form action="{{ url }}" method="post" class="ym-form">
  <div class="ym-fbox-text">
    <input type="hidden" name="came_from" value="{{ came_from }}"/>
    {{ form.username.label }}
    {% if form.username.errors %}
        <ul>{% for error in form.username.errors %}<li>{{ error }}{% endfor %}</ul>
    {% endif %}
    {{ form.username }}
  </div>
  <div class="ym-fbox-text">
    {{ form.password.label }}
    {% if form.password.errors %}
        <ul>{% for error in form.password.errors %}<li>{{ error }}{% endfor %}</ul>
    {% endif %}
    {{ form.password }}
  </div>
  <div class="ym-fbox-button">
    <input type="submit" class="ym-button" value="Login" name="form.submitted"/>
  </div>
</form>
{% endblock %}
